# Virtual environment
venv/
.venv/
.env

# Python cache files
__pycache__/
*.pyc

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Data files
data/
*.csv

# OS / Editor files
.DS_Store
.vscode/
