numpy==1.26.4
pandas
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
tzdata==2025.2

# Additional libraries needed for EDA, plotting, and dashboard
matplotlib
seaborn==0.12.2
scipy==1.11.2
streamlit==1.28.0
jupyter==1.0.0
pytest==7.4.0
